build_peano/
build_chess/
__pycache__/
kernel_cache/
prefill_kernel_cache/
decode_kernel_cache/
.debug/
test_swiglu/
test_swiglu_llama/
test_swiglu_2048/
*.pyc
*.o
air_project/
air.mlir
air.elf
air.xclbin
air.insts.bin
flash_attn_issue/
